.error-page {
  min-height: $wrapper-height;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;

  & > * {
    margin: 1rem;
  }
}
