<article class="articelContent">
  <h1 class="articelContent__title">{{news.title}}</h1>
  <p class="articelContent__header">{{news.description}}</p>
  <p class="articelContent__content">{{news.content}}</p>
  <p class="articelContent__author">Author:&nbsp;<span>{{news.author}}</span></p>
</article>