<article class="articelContent">
  <h1 class="articelContent__title">{{this.title}}</h1>
  <p class="articelContent__header">{{this.description}}</p>
  <p class="articelContent__content">{{this.content}}</p>
  <p class="articelContent__author">Author:&nbsp;<span>{{this.author}}</span></p>
</article>