.search {
  position: relative;

  &__input {
    @include custom-shadow;

    width: 40vw;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
    padding: 0.7rem 1rem;

    @media screen and (max-width: $breakpoint-md) {
      width: 100%;
    }
  }

  &__submit {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }
}
