<article class="article-thumbnail">
  <div class="article-thumbnail__content">
    <h2>{{article.title}}</h2>
    <p>{{article.description}}</p>
  </div>

  <div class="article-thumbnail__more">
    <a href="/article/{{article.id}}" class="more__read">Read More</a>
  </div>
</article>