<section class="comments-list">
    {{#if comments.data}}
      {{> message message=comments.message id="comment-message" hide=true }}
      {{#each comments.data}}
        {{> comment comment=this}}
      {{/each}}
    {{else}}
      {{> message message=comments.message id="comment-message" }}
    {{/if}}
</section>
