<section class="comment-form">
    {{#if login}}
        {{> commentAdd}}
        {{> message id="comment-form-message"}}
    {{else}}
        {{> message message="You need login first to comment news."}}
    {{/if}}
</section>
