<section class="profile">
    <div class="profile__settings">
        <h2>{{user.login}}`s panel</h3>

        <div class="settings__stats">
            {{>stats stats=stats}}
            {{>button type="submit" text="Reset filters" class="reset-filters"}}
        </div>

        <div class="settings__add-news">
            {{>button type="submit" text="Add news"}}
        </div>

    </div>
    <div class="profile__articles">
        <div class="profile__nav">
            <a href="/profile?view=news">news</a>
            <a href="/profile?view=comments">comments</a>
        </div>
        {{#if showComments}}
            {{> commentsList comments=comments}}
        {{else}}
            {{> articlesList newsList=newsList}}
        {{/if}}
    </div>
</section>