<div class="stats">
  <h3 class="stats__title">Statistics</h3>
  <ul class="stats__list">
    <li class="stats__item">News created: <span>{{stats.countNews}}</span></li>
  </ul>
  <h3 class="stats__title">Filters</h3>
  <ul class="stats__list">
    <li class="stats__item">
      <label>By modified date</label>
      <select id="modified">
          <option value="DESC" {{#if this.modifiedDefault}}selected{{/if}}>newest</option>
          <option value="ASC" {{#if this.modifiedDefault}}selected{{/if}}>oldest</option>
      </select>
    </li>
    <li class="stats__item">
      <label>By category</label>
      <select id="category">
          <option value="">reset</option>
        {{#each categories}}
          <option value="{{this.id}}" {{#if this.default}}selected{{/if}}>{{this.name}}</option>
        {{/each}}
      </select>
    </li>
  </ul>
</div>