$shadow-color: rgba(0, 0, 0, 0.219);

@mixin custom-shadow($top: false) {
  @if $top {
    box-shadow: 0 0 1px 1px $shadow-color;
  } @else {
    box-shadow: 1px 1px 1px 1px $shadow-color;
  }

  transition: box-shadow 0.1s ease;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}
