<header class="header">
    <a href="/" class="header__title">News Blog</a>
    <div class="header__search">
        {{> search}}
    </div>
    {{#if login}}
        <div>
            {{> button class="header__addNews" text="Add news"}}
            {{> button class="header__register" text="Register"}}
        </div>
    {{else}}
        <div>
            {{> button class="header__login" text="Login"}}
            {{> button class="header__register" text="Register"}}
        </div>
    {{/if}}
</header>