<header class="header">
    <a href="/" class="header__title">News Blog</a>
    <div class="header__search">
        {{> search}}
    </div>
    {{#if login}}
        <div class="header__menu">
            {{> button class="menu__profile" text="Profile"}}
            {{> button class="menu__logout" text="Logout"}}
        </div>
    {{else}}
        <div class="header__menu">
            {{> button class="menu__login" text="Login"}}
            {{> button class="menu__register" text="Register"}}
        </div>
    {{/if}}
</header>