<form class="search">
    <input type="text" placeholder="Search blogs, topics and more" class="search__input" value={{search}}>
    {{> button class="search__submit" type="submit" text="Search"}}
    {{!-- <button class="search__submit" type="submit">search</button> --}}
</form>