<form class="search">
    <input type="text" placeholder="Search blogs, topics and more" class="search__input" value={{search}}>
    <button class="search__btn" type="submit">&#128270;</button>
</form>