.articleThumbnail {
  @include customShadow;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  padding: 0.7rem 1rem;
  max-width: 20rem;
  border-radius: 10px;

  &--hide {
    display: none;
  }

  & > * {
    margin: 1rem;
  }

  &__content {
    & > * {
      padding: .5rem 0;
    }
  }

  &__more {
    display: flex;
    justify-content: flex-start;
  }

  .more {
    &__read {
      color: #000;
    }
  }
}
