<article class="articleThumbnail">
    <img src={{article.img}} />
    <hr class="articleThumbnail__decorator">
    <h2>{{article.title}}</h2>
    <hr class="articleThumbnail__decorator">
    <p>{{article.description}}</p>
    <hr class="articleThumbnail__decorator">
</article>