.articelContent {
  & > * {
    margin: 1rem 0;
  }

  &__title {
    font-size: 2rem;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__header {
    font-size: 1.3rem;
  }

  &__content {
    font-size: 1.2rem;
  }

  &__author {
    text-align: right;

    span {
      font-weight: 700;
    }
  }

  &__header,
  &__content {
    line-height: 2rem;
  }
}
