<section class="article">
  <section class="article__wrapper">
      {{> articleContent news=news}}    
  </section>
{{#if pageTitle}}
  <section class="article__comments">
    {{> commentsList comments=comments}}
    {{> commentForm}}
  </section>
{{/if}}
</section>
