<section class="article">
  <section class="article__wrapper">
    {{> articleContent news}}
  </section>
  <section class="article__comments">
    {{#each comments}}
      {{> commentsList comments=this}}
    {{/each}}
  </section>
</section>