<section class="article">
  <section class="article__wrapper">
      {{> articleContent news=news}}    
  </section>
  {{#unless news.shouldEdit}}
    {{#if pageTitle}}
      <section class="article__comments">
        {{> commentsList comments=comments}}
        {{> commentForm}}
      </section>
    {{/if}}
  {{/unless}}
</section>
