<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    
    <title>News Blog | {{pageTitle}}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="./public/styles/reset.css" />
    <link rel="stylesheet" type="text/css" href="./public/styles/partials/partials.css" />
    <link rel="stylesheet" type="text/css" href="./public/styles/pages/pages.css" />

    <script defer type="module" src="./public/js/index.js"></script>
    <script defer type="module" src="./public/js/search.js"></script>
    <script defer type="module" src="./public/js/login.js"></script>
    {{#if comments}}<script defer type="module" src="./public/js/comments.js"></script>{{/if}}
</head>